/* Estilo para desktop e telas maiores */
.texto-justificado {
    text-align: justify;
    hyphens: auto;
    text-align-last: left;
}

/* Estilo para dispositivos móveis */
@media screen and (max-width: 768px) {
    .texto-justificado {
        text-align: left;  /* Alinha o texto à esquerda em telas menores */
        hyphens: none;     /* Desativa a quebra automática de palavras */
    }
}

.e-con-inner {
    display: flex;
    flex-wrap: wrap; /* Para garantir que quebrem linha se precisar */
    justify-content: center; /* Para centralizar */
    gap: 20px; /* Ajusta o espaçamento entre eles */
}
.elementor-testimonial {
    flex: 1 1 250px; /* Faz os cards terem tamanho flexível */
    max-width: 250px; /* Evita que fiquem muito grandes */
}
