.elementor-kit-5{--e-global-color-primary:#2045A4;--e-global-color-secondary:#FFFFFF;--e-global-color-text:#2045A4;--e-global-color-accent:#2045A4;--e-global-typography-primary-font-family:"the-seasons";--e-global-typography-primary-font-weight:400;--e-global-typography-secondary-font-family:"Inter";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Inter";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Inter";--e-global-typography-accent-font-weight:500;background-color:#DFDCD0;}.elementor-kit-5 e-page-transition{background-color:#005499;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1140px;}.e-con{--container-max-width:1140px;}.elementor-widget:not(:last-child){margin-block-end:20px;}.elementor-element{--widgets-spacing:20px 20px;--widgets-spacing-row:20px;--widgets-spacing-column:20px;}{}h1.entry-title{display:var(--page-title-display);}@media(max-width:1024px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:767px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('../../2024/05/Inter-Regular-400.woff2') format('woff2'),
		url('../../2024/05/Inter-Regular-400.woff') format('woff'),
		url('../../2024/05/Inter-Regular-400.ttf') format('truetype'),
		url('../../2024/05/Inter-Regular-400.svg#Inter') format('svg');
}
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('../../2024/05/Inter-SemiBold-600.woff2') format('woff2'),
		url('../../2024/05/Inter-SemiBold-600.woff') format('woff'),
		url('../../2024/05/Inter-SemiBold-600.ttf') format('truetype'),
		url('../../2024/05/Inter-SemiBold-600.svg#Inter') format('svg');
}